<!-- Sidebar -->
    <div class="sidebar-wrapper" [class.toogle]="toogle === true">
      <div class="sidebar-heading">
        <a 
        routerLink="/dashboard"
        > 
        Moving Wall 
          </a>
        </div>
      <div class="list-group">
        <a routerLink="/dashboard"  routerLinkActive="active" class="list-group-item"><i-feather name="home" class="list-group-item-icon"></i-feather><span>Dashboard</span></a>
        <a routerLink="/campaign" routerLinkActive="active" class="list-group-item"><i-feather name="package" class="list-group-item-icon"></i-feather><span>Campaign</span></a>
        <a class="list-group-item"><i-feather name="eye" class="list-group-item-icon"></i-feather><span>Ads</span></a>
        <a class="list-group-item"><i-feather name="users" class="list-group-item-icon"></i-feather><span>User</span></a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div [class.toogle]="toogle === true" class="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-white ">
        <button class="btn btn-primary" id="menu-toggle" (click)="toogleSidebar()"><i-feather name="menu"></i-feather></button>
      </nav>
      <router-outlet></router-outlet>
    </div>
    <!-- /#page-content-wrapper -->
