
      <div class="container" id="app-container">
        <div class="row">
            <div class="col-md-3 mt-md-0 mt-4">
            <div class="card">
              <h2>Total Followers</h2>
              <div class="number">
                <i-feather name="users" class="icon text-warning">
                </i-feather>
                <span class="info">
                  130K
                </span>
              </div>  
              <div class="stats text-success">
                <i-feather name="chevron-up" class="icon"></i-feather>
                +30%
              </div>
            </div>
            </div>
            <div class="col-md-3 mt-md-0 mt-4">
            <div class="card">
              <h2>Impression</h2>
              <div class="number">
                <i-feather name="award" class="icon text-info"></i-feather>
                <span class="info">
                  130K
                </span>
              </div>
              <div class="stats text-success">
                <i-feather name="chevron-up" class="icon"></i-feather>
                +30%
              </div>
            </div>
            </div>  
            <div class="col-md-3 mt-md-0 mt-4">
            <div class="card">
              <h2>Reach</h2>
              <div class="number">
                <i-feather name="credit-card" class="icon text-success"></i-feather>
                <span class="info">
                    130K
                  </span>
              </div>
              <div class="stats text-success">
                <i-feather name="chevron-up" class="icon"></i-feather>
                +30%
              </div>
            </div>
            </div>    
            <div class="col-md-3 mt-md-0 mt-4">
            <div class="card">
              <h2>Engagement</h2>
              <div class="number">
                <i-feather name="eye" class="icon text-danger"></i-feather>
                <span class="info">
                  130K
                </span>
              </div>
              <div class="stats text-success">
                <i-feather name="chevron-up" class="icon"></i-feather>
                +30%
              </div>
            </div>
            </div>    
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <app-bar-chart></app-bar-chart>
            </div>
          </div>
        </div>
      </div>
