$primary: #0F8AF9;
$primary-800: #38B3FF;
$primary-600: #70D7FF;
$primary-400: #A8F2FF;
$primary-200: #E0FFFF;
$dark: #34395e;
$gray: #6c757d;
$gray-dark: #343a40;
$danger : #fc544b;
$info : #3abaf4;
$warning : #ffa426;
$success: #63ed7a;